body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  height: 100vh;
  background-color: #ECF2FF;
}

#display_image {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  background-color: #FFF;
}

.image_input {
  margin-top: 30px;
  padding-left: 80px;
}

.button {
  margin-top: 30px;
  background-color: #4070f4;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  font-size: 15px;
  border-radius: 8px;
}
